<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/dlebansais/index.json" />
        <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dlebansais" />
            <!-- Read-only access -->
            <add key="ClearTextPassword" value="&#103;&#104;&#112;&#95;&#102;&#120;&#113;&#54;&#115;&#48;&#112;&#53;&#55;&#116;&#49;&#67;&#106;&#77;&#105;&#85;&#102;&#103;&#77;&#55;&#107;&#117;&#57;&#89;&#50;&#53;&#66;&#50;&#69;&#56;&#49;&#78;&#103;&#122;&#81;&#81;" />
        </github>
    </packageSourceCredentials>
</configuration>