<?xml version="1.0" encoding="utf-8"?>
<!-- run "git update-index hyphenx2assume-unchanged <filename>" on this file -->
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/dlebansais/index.json" />
        <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dlebansais" />
            <!-- Read-only access -->
            <add key="ClearTextPassword" value="&#103;&#104;&#112;&#95;&#111;&#83;&#81;&#82;&#50;&#66;&#99;&#48;&#79;&#115;&#104;&#117;&#51;&#108;&#110;&#114;&#106;&#98;&#86;&#117;&#53;&#69;&#79;&#100;&#116;&#101;&#108;&#107;&#69;&#108;&#49;&#86;&#105;&#48;&#79;&#84;" />
        </github>
    </packageSourceCredentials>
</configuration>